<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmes</title>
</head>
<body>
<div align="center">
    <h1>Filmes</h1>

    <a href="new">Inserir Novo Filme</a>
    <br/>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Ano de Lançamento</th>
                <th>Idioma</th>
                <th>Duração do Filme</th>
                <th>Preço de Locação</th>
                <th>Custo de Substituição</th>
                <th>Classficação</th>
                <th>Ultima Atualização</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="filme : ${listFilmes}">
                <td th:text="${filme.titulo}">Titulo</td>
                <td th:text="${filme.descricao}">Descrição</td>
                <td th:text="${filme.ano_de_lancamento}">Ano de Lançamento</td>
                <td th:text="${filme.idioma_id}">Idioma</td>
                <td th:text="${filme.duracao_do_filme}">Duração do Filme</td>
                <td th:text="${filme.preco_da_locacao}">Preço de Locação</td>
                <td th:text="${filme.custo_de_substituicao}">Custo de Substituição</td>
                <td th:text="${filme.classificacao}">Classficação</td>
                <td th:text="${filme.ultima_atualizacao}">Ultima Atualização</td>
                <d></d>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>